.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  /* position: sticky; */
  /* top: 0; */
  font-size: calc(10px + 2vmin);
  color: white;
  height: 8rem;
  padding: 0 2rem;
}
